*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: gray;
}

body input {
    margin: 3px;
}

button {
    margin-top: 10px;
}

p {
    font-weight: bold;
    margin-bottom: 20px;
}